/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 10, ../src/screen.scss */
body {
  background: #222222 url("../images/bgtexture.png") repeat;
  font-family: sans-serif;
  line-height: 1.3em;
  color: #ccc;
}

/* line 16, ../src/screen.scss */
a {
  color: #ACEB00;
  text-decoration: none;
}

/* line 21, ../src/screen.scss */
h3 {
  border-bottom: 3px solid #600;
  color: #ACEB00;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 2px;
}

/* line 30, ../src/screen.scss */
.container {
  width: 960px;
  margin: auto;
}
/* line 33, ../src/screen.scss */
.container header {
  font-size: 3em;
  padding: 85px 0;
  color: #000;
  display: block;
}
/* line 39, ../src/screen.scss */
.container header h1 a {
  text-decoration: none;
  display: block;
  width: 384px;
  margin: auto;
  padding-right: 50px;
}
/* line 49, ../src/screen.scss */
.container .page h2 {
  display: block;
  padding: 10px 0;
  margin-bottom: 10px;
}
/* line 53, ../src/screen.scss */
.container .page h2 span {
  background: #EEE;
  color: #800;
  -webkit-box-shadow: #333 2px 2px 1px;
  -moz-box-shadow: #333 2px 2px 1px;
  border-bottom-right-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  -moz-border-radius-bottomright: 5px 5px;
  -moz-border-radius-topleft: 5px 5px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
}
/* line 68, ../src/screen.scss */
.container .page .blogs, .container .page .social, .container .page .aboutme {
  overflow: hidden;
  background: #000;
  border: 1px solid #444;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: #111 2px 1px 2px;
  -webkit-box-shadow: #111 2px 1px 2px;
  margin-bottom: 20px;
  padding: 0 0 10px;
}
/* line 78, ../src/screen.scss */
.container .page .blogs .coming-soon, .container .page .social .coming-soon, .container .page .aboutme .coming-soon {
  text-align: center;
  color: white;
  font-size: 1.5em;
  text-shadow: #111 1px 1px 1px;
}
/* line 84, ../src/screen.scss */
.container .page .blogs img.blogpics, .container .page .social img.blogpics, .container .page .aboutme img.blogpics {
  display: block;
  margin: 10px auto 30px;
  border: 1px solid #666;
}
/* line 89, ../src/screen.scss */
.container .page .blogs img.about, .container .page .social img.about, .container .page .aboutme img.about {
  float: right;
  margin: 10px 24px;
  border: 1px solid #666;
}
/* line 94, ../src/screen.scss */
.container .page .blogs a, .container .page .social a, .container .page .aboutme a {
  font-weight: bold;
}
/* line 98, ../src/screen.scss */
.container .page .aboutme p {
  padding-left: 10px;
}
/* line 103, ../src/screen.scss */
.container footer {
  margin: 15px 0;
}
/* line 106, ../src/screen.scss */
.container footer .footnote {
  text-align: center;
  color: #888;
  font-size: 0.85em;
}

/* line 115, ../src/screen.scss */
.cols {
  width: 100%;
  overflow: hidden;
}
/* line 118, ../src/screen.scss */
.cols .col1_3, .cols .col2_3, .cols .col3_3 {
  float: left;
  width: 31%;
  padding: 0 10px;
}
/* line 123, ../src/screen.scss */
.cols .col1_3, .cols .col2_3 {
  border-right: 1px solid #000;
}
/* line 126, ../src/screen.scss */
.cols .col2_3, .cols .col3_3 {
  border-left: 1px solid #666;
}
/* line 129, ../src/screen.scss */
.cols ul.cols {
  text-align: center;
}
/* line 131, ../src/screen.scss */
.cols ul.cols li {
  padding: 15px 0;
}
