/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p448@moby/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p448@moby/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p448@moby/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p448@moby/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p448@moby/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p448@moby/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p448@moby/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p448@moby/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p448@moby/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../src/screen.scss */
section, article, aside, header, footer, nav, dialog, figure {
  display: block;
  margin: 0;
}

/* line 19, ../src/screen.scss */
body {
  background: #382b09 url("../images/kili.jpg?v=201202030000") no-repeat center -100px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.2em;
  color: #AAA;
  font-size: 17px;
  width: 1200px;
  margin: auto;
  color: #eee;
}

/* line 30, ../src/screen.scss */
a {
  text-decoration: none;
  color: #FF9500;
}
/* line 33, ../src/screen.scss */
a:visited {
  color: #FF9500;
}
/* line 36, ../src/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 41, ../src/screen.scss */
section {
  margin-bottom: 2.5em;
}

/* line 45, ../src/screen.scss */
h1 {
  font-size: 5em;
  padding: 0.5em 0 0.4em;
  line-height: 1em;
  font-family: "Spicy Rice", sans-serif;
}
/* line 50, ../src/screen.scss */
h1 a {
  color: #FFE787;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
}
/* line 53, ../src/screen.scss */
h1 a:visited {
  color: #FFE787;
}
/* line 56, ../src/screen.scss */
h1 a:hover {
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px;
}

/* line 63, ../src/screen.scss */
h2 {
  font-size: 1.5em;
  line-height: 1em;
  padding: 0 0 0.5em;
  color: white;
}

/* line 70, ../src/screen.scss */
div.about-me {
  margin-bottom: 1em;
}

/* line 74, ../src/screen.scss */
div.social-media-wrapper {
  display: block;
  overflow: hidden;
  width: 360px;
}

/* line 81, ../src/screen.scss */
ul.social-icons li {
  float: left;
}
/* line 83, ../src/screen.scss */
ul.social-icons li a {
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 8px;
}
/* line 89, ../src/screen.scss */
ul.social-icons li a.twitter {
  background: transparent url("../images/icons.png?v=201112120121") no-repeat 0px -2px;
}
/* line 90, ../src/screen.scss */
ul.social-icons li a.github {
  background: transparent url("../images/icons.png?v=201112120121") repeat 0px -36px;
}
/* line 91, ../src/screen.scss */
ul.social-icons li a.email {
  background: transparent url("../images/icons.png?v=201112120121") repeat 0px -70px;
}
/* line 92, ../src/screen.scss */
ul.social-icons li a.linkedin {
  background: transparent url("../images/icons.png?v=201112120121") repeat 0px -104px;
}
/* line 93, ../src/screen.scss */
ul.social-icons li a.flickr {
  background: transparent url("../images/icons.png?v=201112120121") repeat 0px -138px;
}
/* line 94, ../src/screen.scss */
ul.social-icons li a.facebook {
  background: transparent url("../images/icons.png?v=201112120121") repeat 0px -172px;
}
/* line 95, ../src/screen.scss */
ul.social-icons li a.posterous {
  background: transparent url("../images/icons.png?v=201112120121") repeat 0px -206px;
}
/* line 96, ../src/screen.scss */
ul.social-icons li a.googlebuzz {
  background: transparent url("../images/icons.png?v=201112120121") repeat 0px -240px;
}
/* line 97, ../src/screen.scss */
ul.social-icons li a.picasa {
  background: transparent url("../images/icons.png?v=201112120121") repeat 0px -274px;
}
/* line 99, ../src/screen.scss */
ul.social-icons li a:hover {
  text-decoration: none;
}
/* line 104, ../src/screen.scss */
ul.social-icons li:first-child a {
  margin-left: 0;
}

/* line 111, ../src/screen.scss */
footer {
  margin: 15px 0;
  position: fixed;
  bottom: 0;
}
/* line 115, ../src/screen.scss */
footer .footnote {
  color: #888;
  font-size: 0.6em;
}
