/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@mixin page-width {width: 960px;margin:auto; }
body {
     background: #222;
     font-family: serif;
}

.container {
   @include page-width;
}

header {
    font-size: 3em;
    padding: 85px 0;
    color: #000;
    display: block;
        .title {
        a {
            text-decoration: none;
            display: block;
            width: 384px;
            margin: auto;
            padding-right:50px;
        }
    }
}
.page {
      background: #444;
      border: 1px solid #444;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-box-shadow: #111 2px 1px 2px;
      -webkit-box-shadow: #111 2px 1px 2px;
      padding: 200px 0;
      .coming-soon {
          text-align: center;
          color: white;
          font-size: 1.5em;
          text-shadow: #111 1px 1px 1px;
      }
}

footer {
    margin: 30px 0 15px;

    .footnote {
        text-align: center;
        color: #888;
        font-size: 0.85em;
    }
}
