/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@mixin page-width {width: 960px;margin:auto; }

body {
     background: #222 url("../images/bgtexture.png") repeat;
     font-family: sans-serif;
     line-height:1.3em;
     color: #ccc;
}
a {
  color: #A8A565;
  text-decoration: none;
}

h3 {
    border-bottom: 3px solid #600;
    color: #CFEB00;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 2px;
}

.container {
   @include page-width;

    header {
        font-size: 3em;
        padding: 85px 0;
        color: #000;
        display: block;
        h1 {
            a {
                text-decoration: none;
                display: block;
                width: 384px;
                margin: auto;
            }
        }
    }
    .page {
        h2 {
            display: block;
            padding: 10px 0;
            margin-bottom: 10px;
            span {
                background: #EEE;
                color: #800;
                -webkit-box-shadow: #333 2px 2px 1px;
                -moz-box-shadow: #333 2px 2px 1px;
                border-bottom-right-radius: 5px 5px;
                border-top-left-radius: 5px 5px;
                -moz-border-radius-bottomright: 5px 5px;
                -moz-border-radius-topleft: 5px 5px;
                font-size: 1.2em;
                font-weight: bold;
                padding: 10px;
            }
        }

        .blogs, .social, .aboutme {
            overflow: hidden;
            background: #000;
            border: 1px solid #444;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-box-shadow: #111 2px 1px 2px;
            -webkit-box-shadow: #111 2px 1px 2px;
            margin-bottom: 20px;
            padding: 0 0 10px;
            .coming-soon {
                text-align: center;
                color: white;
                font-size: 1.5em;
                text-shadow: #111 1px 1px 1px;
            }
            img.blogpics {
                display: block;
                margin: 10px auto 30px;
                border: 1px solid #666;                
            }
            img.about {
                float: right;
                margin: 10px 24px;
                border: 1px solid #666;
            }
        }
        .aboutme p {
            padding-left: 10px;
        }
    }

    footer {
        margin: 15px 0;

        .footnote {
            text-align: center;
            color: #888;
            font-size: 0.85em;
        }
    }
}


.cols {
    width: 100%;
    overflow: hidden;
    .col1_3, .col2_3, .col3_3 {
        float: left;
        width: 31%;
        padding: 0 10px;
    }
    .col1_3, .col2_3 {
        border-right: 1px solid #000;
    }
    .col2_3, .col3_3 {
        border-left: 1px solid #666;
    }
    ul.cols {
      text-align: center;
      li {
        padding: 15px 10px;
      }
    }
}
