/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@mixin page-width {width: 960px;margin:auto; }

@mixin bg-img($clr, $src, $repeat: repeat, $x: 0, $y: 0) {
   background: $clr url('../images/'+$src) $repeat $x $y;
}

$sprite: "sprite.png";

body {
   @include bg-img (#222, "bgtexture.png", repeat, 0, 0);
   font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif;
   line-height:1.2em;
   color: #AAA;
   font-size: 15px;
}
a {
   color: #A8A565;
   text-decoration: none;
   &:hover {
      color: #CFEB00;
   }
}

h3 {
   color: #CFEB00;
   font-size: 1.3em;
   font-weight: bold;
   margin-bottom: 5px;
   padding: 2px 0;
}

p, a {
   font-family: Helvetica;
}

.container {
   @include page-width;

   header {
      font-size: 3em;
      padding: 75px 0;
      color: #000;
      display: block;
      h1 {
         a {
            text-decoration: none;
            display: block;
            width: 384px;
            height: 150px;
            margin: auto;
            @include bg-img (transparent, $sprite, no-repeat, 0, 0);      
         }
      }
   }
   .page {
      h2 {
         display: block;
         padding: 10px 0;
         margin-bottom: 10px;
         span {
            margin-left: 10px;
            border-bottom: 5px solid #A00;
            background: #800;
            color: #DDD;
            -webkit-box-shadow: #333 0px 1px 1px;
            -moz-box-shadow: #333 0px 1px 1px;
            font-size: 1.2em;
            padding: 10px 10px 8px;
         }
      }

      .blogs, .social, .aboutme {
         display: block;
         overflow: hidden;
         background: #111;
         border: 1px solid #333;
         -moz-border-radius: 5px;
         -webkit-border-radius: 5px;
         -moz-box-shadow: #111 2px 2px 2px;
         -webkit-box-shadow: #111 2px 2px 2px;
         margin-bottom: 20px;
         padding: 0 0 10px;
      }
      
      .aboutme p {
         padding: 5px 20px;
      }
      .about {
         @include bg-img (transparent, $sprite, no-repeat, 0, -162px);
         display: block;
         width: 246px;
         height: 250px;
         margin: 10px 24px;
         float: right;
         border: 1px solid #333;
      }
      
      .blog {
         display: block;
         width: 279px;
         height: 187px;
         margin: 10px auto 30px;
         border: 1px solid #333;
      }
      .photography {@include bg-img (transparent, $sprite, no-repeat, 0, -417px);}
      .technology {@include bg-img (transparent, $sprite, no-repeat, 0, -606px);}
      .reflexions {@include bg-img (transparent, $sprite, no-repeat, 0, -795px);}
      
      div.social-media-wrapper {
         display: block;
         overflow: hidden;
         margin: 10px auto 0;
         width: 360px;
      }
      ul.social-icons {
         li {
            float: left;
            a {
               display:block;
               width: 32px;
               height: 32px;
               margin-left: 8px;

               &.twitter {@include bg-img (transparent, $sprite, no-repeat, -352px, -162px);}
               &.github {@include bg-img (transparent, $sprite, repeat, -352px, -196px);}
               &.email {@include bg-img (transparent, $sprite, repeat, -352px, -229px);}
               &.linkedin {@include bg-img (transparent, $sprite, repeat, -352px, -263px);}
               &.flickr {@include bg-img (transparent, $sprite, repeat, -352px, -297px);}
               &.facebook {@include bg-img (transparent, $sprite, repeat, -352px, -332px);}
               &.posterous {@include bg-img (transparent, $sprite, repeat, -352px, -365px);}
               &.googlebuzz {@include bg-img (transparent, $sprite, repeat, -352px, -399px);}
               &.picasa {@include bg-img (transparent, $sprite, repeat, -352px, -434px);}                              
            }
         }

      }
   }

   footer {
      margin: 15px 0;

      .footnote {
         text-align: center;
         color: #888;
         font-size: 0.85em;
      }
   }
}


.cols {
   width: 100%;
   overflow: hidden;
   .col1_3, .col2_3, .col3_3 {
      float: left;
      width: 31%;
      padding: 0 10px;
   }
   .col1_3, .col2_3 {
      border-right: 2px solid #000;
   }
   .col2_3, .col3_3 {
      border-left: 1px solid #333;
   }

}

