/* Normalize CSS */
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

/* Standard tags*/
html {
  scroll-snap-type: y mandatory;
}

body {
  font-weight: 400;
  font-family: "poppins";
  color: #454545;
}

/* Slide common */
.slide-intro, .slide-unravel, .slide-coach, .slide-leader, .slide-mentor, .slide-testimonials {
  position: relative;
  scroll-snap-align: start;
}

.slide-unravel, .slide-coach, .slide-leader, .slide-mentor, .slide-testimonials {
  display: flex;
  flex-direction: column;
}

.slide-intro, .slide-coach, .slide-mentor {
  background: #F5EEDC;
  width: 100%;
  height: 100dvh;
}

.slide-unravel, .slide-leader, .slide-testimonials {
  background: #C0D8C0;
  width: 100%;
  height: 100dvh;
}
/* Slide Common End */

/* Slide Content Common */
.top-flex, .bottom-flex {
  flex-grow: 1;
}

.slide-content {
  max-width: 800px;
  margin: auto;
  margin-top: 1em;
}

.slider-title {
  margin: 0;
  font-size: 2em;
  font-weight: 600;
  font-family: 'Raleway';
}
/* Slide Content Common End */


/* Common Components */

.button-link {
  background-color: #454545;
  border-radius: 0.1em;
  display: inline-block;
  padding: 0.5em 0.8em;
  margin-right: 0.25em;
  color: #EEE;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.button-link-icon {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.link {
  color: #DD4A48;
}

.link-plain {
  text-decoration: none;
}

/* Common Components End */

/* Intro Slide */
.name-box {
  top: 30dvh;
  width: 100%;
  position: relative;
}

.intro, .name {
  margin: 0 0.2em;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 4em;
  text-align: center;
}

.name {
  color: #DD4A48;
}

.quote {
  width: 100%;
  bottom: 10dvh;
  position: absolute;
}

.quote .quote-content {
  font-size: 18px;
  width: 300px;
  margin: auto;
  text-align: center;
}

.quote .role {
  margin: 8px;
  color: #DD4A48;
  font-weight: 400;
}
/* Intro Slide End */


/* Unravel Slide */
.unravel-logo {
  font-family: "Saira";
  color: #364E68;
}

.unravel-logo .unravel-logo-hl {
  color: #3282B8;
}

.offering-header {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.offering-icon {
  width: 1.5em;
  height: 1.5em;
}
/* Unravel Slide End */

/* Coach Slide */

.coach-profile-box {
  display: flex;
}

.coach-profile-info {
  margin-right: 8em;
  margin-right: 0;
}

.coach-profile-pic {
  width: 240px;
  height: 240px;
}

/* Coach Slide End */

/* Mentor Slide */
.mentor-info-box {
  display: flex;
  gap: 1em;
}

.session-link {
  margin-top: 1em;
  padding: 0 1em;
  background: #EEE;
}

/* Mentor Slide End */

/* Testimonial Slide */
.testimonials-box {
  display: flex;
  overflow-x: auto;
  width: 100%;
  flex-flow: row nowrap;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  gap: 1.5em;
}

.testimonial {
  width: 100%;
  flex: none;
  scroll-snap-align: center;
}

.t-name {
  font-size: 1.2em;
  color: #DD4A48;
  text-align: right;
  margin-bottom: 0.1em;
}

.t-company {
  text-align: right;
  margin-top: 0.1em;
}

/* Testimonial Slide End */

/* Scroll visible and stylized (For Testimonials) */ 
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 8px;
  border: 2px solid #EEE;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #EEE;
}
/* Scroll visible and stylized (For Testimonials) End */ 


/* Footer */
footer {
  display: flex;
  align-items: center;
  background: #454545;
  color: #F5EEDC;
  width: 100%;
  scroll-snap-align: start;
}

.copyrights {
  flex-grow: 1;
  margin: 1em;
  font-size: 0.8em;
}

.social-icons {
  margin: 1em;
}

.social-icons .button-link {
  padding: 0.25em;
}

.social-icons .button-link-icon {
  margin-right: 0;
  width: 1.5em;
  height: 1.5em;
}

/* Footer End */

@media only screen and (max-device-width: 480px) {
  .slide-content {
    margin: 0 1em;
  }

  .slide-coach .coach-profile-box {
    flex-direction: column-reverse;
  }

  .coach-profile-info {
    margin: 0;
  }

  .coach-profile-pic-box {
    text-align: center;
  }

  .coach-profile-pic {
    margin: 1em auto;
    width: 200px;
    height: 200px;
  }

  .mentor-info-box {
    flex-direction: column;
  }

  .session-link {
    margin-top: auto;
  }

  footer {
    flex-direction: column-reverse;
  }

  footer .copyrights {
    text-align: center;
  }
}